#container {
    height: 200px;
    width: 200px;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.squares {
    height: 50px;
    width: 50px;
    background-color:lightblue;
    border: 1px solid black;
}