* {
    text-align: center;
}

.board {
    margin: auto;
    height: 600px;
    width: 600px;
    background-color: pink;
    display: grid;
}

.squares {
    background-color:lightblue;
    border: 0.1px solid black;
}

